/* base styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;   
    background: url(./assets/images/mountainsdarken.png) center center;

/* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b1f22;
    color: white;
    opacity: 0;
    transition: none;
}

body.fade {
    opacity: 1;
    transition: 2s opacity;
}


svg {
    height: 100px;
    width: 100px;
}

article {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    width: 40rem;
    max-width: 100%;
    background-color: rgba(27, 31, 34, 0.85);
}

article p {
    line-height: 1.7rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    border-bottom: solid 2px white;
    margin: 0 0 32px 0;
    padding: 0 0 8px 0;
    width: max-content;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-container {
    margin-top: 30px;
}

/* icons */


/* active */

.hide {
    display: none;
}

.show {
    display: flex;
    justify-content: center;
}

/* header */
.icon {
    border: solid 2px white;
    border-radius: 100%;
    padding: 20px;
}

.icon img {
    height: 55px;
    width: 55px;
}

.vl-t {
    border-left: 2px solid white;
    height: 100px;
    align-self: center;
}

.vl-b {
    border-left: 2px solid white;
    height: 100px;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.title {
    padding: 50px 30px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
}

.title p {
    font-size: 1.3em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: 0 0 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    border: 1px solid white;
    height: 4rem;
    width: 10rem;
    text-align: center;
}

nav li:first-child {
    border-radius: 5px 0 0 5px;
}

nav li:last-child {
    border-radius: 0 5px 5px 0;
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: 3.4em;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.18);
}


/* work */

.project-block p {
    margin: 10px 0px;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}


/* skills */

.tech-icons {
    padding: 15px;
}

.tech-icons svg {
    margin: 10px 10px;
}

h3 {
    font-size: 1.7em;
}

/* About */


/* contact */

input {
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
}

/* footer */

#footer {
    margin-top: 50px;
    align-self: center;
}

/* Media Queries */

@media screen and (max-width: 1680px) {

    body {
        font-size: 12px;
    }

    nav li {
        height: 3rem;
        width: 8rem;
    }

}

@media screen and (max-width: 736px) {
    body {
        font-size: 11px;
    }

    #wrapper {
        padding: 2rem 1rem;
    }

    #main article {
        padding: 3.5rem 2rem 0.5rem 2rem ;
    }

    nav li {
        height: 2.7rem;
        width: 7rem;
    }

    .vl-t {
        height: 50px;
    }
    
    .vl-b {
        height: 50px;
    }

}

@media screen and (max-width: 480px) {

    #wrapper {
        padding: 1rem;
    }

    .icon {
        padding: 15px;
    }

    .icon img {
        height: 40px;
        width: 40px;
    }

    svg {
        height: 75px;
        width: 75px;
    }

    .title {
        padding: 20px 15px;
    }

    #main article {
        padding: 3rem 1.5rem 0.5rem 1.5rem ;
    }

    nav ul {
        flex-direction: column;
    }

    nav li:first-child {
        border-radius: 5px 5px 0 0;
    }
    
    nav li:last-child {
        border-radius: 0 0 5px 5px;
    }
}