/* base styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    color: white;
}

#wrapper {
    background: url(../images/mountains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-container {
    align-self: center;
}

/* active */

.blur {
    filter: blur(5px);
}


/* header */

.vl-t {
    border-left: 2px solid white;
    height: 150px;
    align-self: center;
}

.vl-b {
    border-left: 2px solid white;
    height: 150px;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.title {
    padding: 20px 20px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    text-align: center;
    letter-spacing: 7px;
}

#name {
    text-transform: uppercase;
}

nav ul {
    margin-left: 28px;
    display: flex;
    justify-content: center;
    border: solid 1px white;
}

nav ul li {
    border: 1px solid white;
    padding: 10px 25px;
}

nav ul li a {
    font-size: .92rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Main div */

#main {
    display: flex;
    justify-content: center;
}

/* work */

#work {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    width: 60rem;
    max-width: 100%;
    background-color: rgba(27, 31, 34, 0.85);
}

/* skills */

.tech-skills {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    width: 60rem;
    max-width: 100%;
    background-color: rgba(27, 31, 34, 0.85);
}

.tech-skills div {
    display: flex;
    flex-wrap: wrap;
}

.skill-icon {
    width: 150px;
    padding: 20px;
}

/* About */

#about {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    width: 60rem;
    max-width: 100%;
    background-color: rgba(27, 31, 34, 0.85);
}

/* contact */

#contact {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    width: 60rem;
    max-width: 100%;
    background-color: rgba(27, 31, 34, 0.85);
}

/* footer */

#footer {
    align-self: center;
}